@model TaskQuest.ViewModels.GrupoViewModel

@{
    ViewBag.Title = "Grupo " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    @Styles.Render("~/Content/geral-css")
    @Scripts.Render("~/bundles/grupo-js")
}

<section>
    <div class="container">
        <div>
            @using (Html.BeginForm("EditarGrupo", "Home", FormMethod.Post, new { @style="width: 100%;" }))
            {
                <div class="row fluid" style="margin-top: 2%; width: 100%;">
                    @Html.AntiForgeryToken()
                    <div class="col-md-4">
                        <input type="submit" value="Editar" class="btn btn-primary btn-lg btn-header darkblue-bg" />
                    </div>
                    @Html.HiddenFor(m => m.Id)
                    <div class="col-md-4">@Html.TextBoxFor(m => m.Nome, new { required = "", @class = "form-control inputs col-md-4 marginput", })</div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.Descricao, new { required = "", @class = "form-control inputs col-md-4", @style="width: 100%;" })</div>
                </div>
            }
        </div>
        <div class="row fluid">
            <div class="col-md-12"><h3>@Model.Integrantes.Count Integrantes</h3></div>
            <div class="col-md-6">
                <a href="/Home/TornarIntegrante/@Model.Id" class="btn btn-primary btn-lg btn-header darkblue-bg">
                    Deixar de ser Administrador do grupo
                </a>
            </div>
            <div class="col-md-6">
                <a href="/Home/ExcluirGrupo/@Model.Id" class="btn btn-primary btn-lg btn-header darkblue-bg">
                    Excluir grupo
                </a>
            </div>
        </div>
    </div>
    <hr class="quebra group-image">
</section>

<section>
    <div class="container fluid">
        <div id="tabs">
            <ul class="centralize" style="margin-bottom: 2%;">
                <li>
                    <button type="button" class="btn btn-primary btn-lg centralize" data-toggle="modal" data-target="#modalAdicionarUsuario">
                        Adicionar Usuário
                    </button>
                </li>
                <li><h2 class="centralize">Integrantes</h2></li>
            </ul>
            <div id="integrantes">
                @for (int x = 0; x < Model.Integrantes.Count; x++)
                {
                    <div class="row teste" style="margin-bottom: 1%;">
                        <div class="col-md-2 imagem"></div>
                        <h3 style="margin-right: 2%;">@Model.Integrantes[x].Nome</h3>
                        @if (!Model.Integrantes[x].isAdm)
                        {
                            @Html.Partial("_ExcluirIntegranteGrupoPartial", Model.criarEditorIntegrante(Model.Integrantes[x].Id))
                            @Html.Partial("_TornarAdministrador", Model.criarEditorIntegrante(Model.Integrantes[x].Id))
                        }
                        <hr class="quebra">
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@Html.Partial("_AdicionarUsuarioGrupoPartial", Model.adicionarUsuarioGrupoViewModel())

