@model TaskQuest.ViewModels.GrupoViewModel

@{
    ViewBag.Title = "Grupo " + Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    @Styles.Render("~/Content/geral-css")
    @Scripts.Render("~/bundles/grupo-js")
}

<section>
    <div class="container fluid ">
        <div class="row infos2">
            @using (Html.BeginForm("EditarGrupo", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Editar" class="btn btn-primary btn-lg btn-header darkblue-bg" />
                @Html.HiddenFor(m => m.Id)
                <div>@Html.TextBoxFor(m => m.Nome)</div>
                <div>@Html.TextBoxFor(m => m.Descricao)</div>
            }
            <div><h3>@Model.Integrantes.Count Integrantes</h3></div>
        </div>
    </div>
    <hr class="quebra group-image">
</section>

<section>
    <div class="container fluid">
        <div id="tabs">
            <ul>
                <li>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalAdicionarUsuario">
                        Adicionar Usuário
                    </button>
                </li>
                <li><h3>Integrantes</h3></li>
            </ul>
            <div id="integrantes">
                @for (int x = 0; x < Model.Integrantes.Count; x++)
                {
                    <div class="row teste">
                        <div class="col-md-2 imagem"></div>
                        <h3>@Model.Integrantes[x].Nome</h3>
                        @Html.Partial("_ExcluirUsuarioGrupoPartial", Model.criarExcluirUsuarioGrupo(Model.Integrantes[x].Id))
                        <hr class="quebra">
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@Html.Partial("_AdicionarUsuarioGrupoPartial", Model.adicionarUsuarioGrupoViewModel())

