@model TaskQuest.ViewModels.RegisterViewModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Task Quest</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Styles -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700'
          rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel='stylesheet' href='css/spectrum.css'/>

    <script src="js/modernizr-2.7.1.js"></script>


</head>

<body>

<header class="navbar navbar-inverse navbar-fixed-top open">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="index.html"><img src="img/kakaka.png" alt="Logo"></a>
        </div>
        @Html.Partial("_LoginPartial")
    </div>
</header>

<div id="modalCadastro" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="logomod"></div>
                <h4 class="modal-title">Cadastro</h4>
            </div>
            @using (Html.BeginForm("Register", "Home", FormMethod.Post)) {
                <div class="modal-body">
                    <p>Preencha os campos abaixo para realizar seu cadastro.</p>
                    <div class="col-md-6 inp">
                        @Html.TextBoxFor(m => m.Nome, new { @id="nome", @maxlength="30", @class="form-control", @placeholder="Nome" })
                    </div>
                    <div class="col-md-6 inp">
                        @Html.TextBoxFor(m => m.Sobrenome, new { @id="sobrenome", @maxlength="40", @class="form-control", @placeholder="Sobrenome" })
                    </div>
                    <div class="col-md-6 inp">
                        @Html.TextBoxFor(m => m.DataNascimento, new { @id="datanasc", @maxlength="30", @type="date", @class="form-control" })
                    </div>
                    <div class="col-md-6 inp">
                        @Html.TextBoxFor(m => m.Telefone, new { @id="telefone", @maxlength="13", @class="form-control", @placeholder="Telefone" })
                    </div>
                    <div class="col-md-6 inp">
                        @Html.TextBoxFor(m => m.Senha, new { @id="senha", @maxlength="30", @type="password", @class="form-control", @placeholder="Senha" })
                    </div>
                    <div class="col-md-6 inp">
                        @Html.TextBoxFor(m => m.ConfirmarSenha, new { @id="confirma", @maxlength="30", @type="password", @class="form-control", @placeholder="Confirme sua senha" })
                    </div>
                    <div class="col-md-6 inp">
                        @Html.TextBoxFor(m => m.ConfirmarSenha, new { @id="confirma", @maxlength="30", @type="password", @class="form-control", @placeholder="Confirme sua senha" })
                    </div>
                    <div class="col-md-6 inp">
                        Feminino: @Html.RadioButtonFor(m => m.Sexo, 'F')
                        Masculino: @Html.RadioButtonFor(m => m.Sexo,'M')
                    </div>
                    <div class="col-md-12">
                        <p>Escolha a cor do seu tema.</p>
                        <input type="text" name="showPaletteOnly" id="showPaletteOnly" style="display: none;">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary btn-lg" data-dismiss="modal" id="MostrarModal2" data-toggle="modal" data-target="#myModal4" value="Cadastrar">
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<section id="banner-grupo-trabalho">
    <div class="container">
        <div class="row header-info">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1 class="wow fadeIn cor">Comunique, organize e motive em grupo</h1>
                <br/>
                <p class="lead wow fadeIn" data-wow-delay="0.5s">O software ideal para aumentar a produtividade de
                    equipes</p>
                <div>
                    <a href="#invite" class="btn btn-primary btn-lg scroll text-left wow fadeInUp">Inscreva-se</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="mouse-icon hidden-xs">
    <div class="scroll"></div>
</div>

<section id="banner-felicidade" class="pad-xl centralize-v">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
                <h2>Organize suas atividades, comunique-se em grupo e seja feliz!</h2>
            </div>
        </div>
    </div>
</section>


<section id="banner-grafico" class="pad-xl centralize-v">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
                <h2>Classifique suas atividades em Quests e Tasks.</h2>
            </div>
        </div>
    </div>
</section>

<section id="main-info" class="pad-xl2">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
                <h2 class="title">Milhares de recursos para a realização de suas tarefas </h2>
            </div>
            <div class="col-sm-4 wow fadeIn recursos" data-wow-delay="0.4s">
                <i class="fa fa-commenting fa-settings"></i>
                <hr class="line purple">
                <h3>Mensagens</h3>
                <p>Comunique-se com todos de sua equipe</p>
            </div>
            <div class="col-sm-4 wow fadeIn recursos" data-wow-delay="0.8s">
                <i class="fa fa-line-chart fa-settings"></i>
                <hr class="line blue">
                <h3>Gráfico</h3>
                <p>Observe o progresso individual e coletivo dos processos</p>
            </div>
            <div class="col-sm-4 wow fadeIn recursos" data-wow-delay="1.2s">
                <i class="fa fa-users fa-settings"></i>
                <hr class="line yellow">
                <h3>Grupos</h3>
                <p>Crie ou participe de um grupo para realizar tarefas em equipe</p>
            </div>

            <div class="col-sm-4 wow fadeIn recursos" data-wow-delay="0.4s">
                <i class="fa fa-tasks fa-settings"></i>
                <hr class="line purple">
                <h3>Progresso</h3>
                <p>Visualize rapidamente o que foi feito para concluir uma tarefa</p>
            </div>
            <div class="col-sm-4 wow fadeIn recursos" data-wow-delay="0.8s">
                <i class="fa fa-level-up fa-settings"></i>
                <hr class="line blue">
                <h3>Experiência</h3>
                <p>A cada tarefa concretizada, ganhe experiência que reflete sua eficiência</p>
            </div>
            <div class="col-sm-4 wow fadeIn recursos" data-wow-delay="1.2s">
                <i class="fa fa-lock fa-settings"></i>
                <hr class="line yellow">
                <h3>Segurança</h3>
                <p>Todas as suas informações e tarefas armazenadas de forma segura</p>
            </div>

        </div>
    </div>
</section>


<!--Pricing-->
<section id="pricing" class="pad-lg2">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="white">Planos</h2>
                <p class="white">Assine as versões Premium e ganhe diversos benefícios no serviço.</p>
            </div>
        </div>

        <div class="row margin-50">
            <div class="centralize-h-1">
                <div class="centralize-h-2">

                    <div class="col-md-6 pricing-container wow fadeInUp" data-wow-delay="0.1s">
                        <ul class="list-unstyled pricing-table text-center">
                            <li class="headline"><h5 class="white">Plano Free</h5></li>
                            <li class="price">
                                <div class="amount">Grátis</div>
                            </li>
                            <li class="info">As funcionalidades básicas do sistema</li>
                            <li class="features first">Crie grupos e tarefas</li>
                            <li class="features">Mande mensagens para integrantes do grupo</li>
                            <li class="features">Organize suas tarefas</li>
                            <li class="features last btn btn-secondary btn-wide"><a href="#">Começar</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 pricing-container wow fadeInUp" data-wow-delay="0.3s">
                        <ul class="list-unstyled pricing-table text-center">
                            <li class="headline"><h5 class="white">User Premium</h5></li>
                            <li class="price">
                                <div class="amount">R$100
                                    <small>/m</small>
                                </div>
                            </li>
                            <li class="info">Adiciona funcionalidades ao sistema</li>
                            <li class="features first">Participe de infinitos de grupos</li>
                            <li class="features">Seja administrador de todos eles</li>
                            <li class="features">Visualize o progresso das atividades do grupo</li>
                            <li class="features last btn btn-secondary btn-wide"><a href="#">Começar</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>


<section id="invite" class="pad-lg light-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <i class="fa fa-envelope-o margin-40"></i>
                <h2 class="black">Cadastre-se!</h2>
                <br/>
                <p class="black">Inscreva-se agora e comece já a utilizar o sitema</p>
                <br/>

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <button type="submit" class="btn btn-primary btn-lg " data-toggle="modal"
                                data-target="#modalCadastro">Começar
                        </button>
                    </div>
                </div><!--End Form row-->

            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="row">
            <ul class="list-inline social social2">
                <div class="col-md-4 marginsocial">
                    <li class="marginicon">Sobre a empresa</li>
                    <li><a href="#"><i class="fa fa-facebook tamanho"></i></a></li>
                </div>
                <div class="col-md-4 marginsocial">
                    <li class="marginicon">Produtos</li>
                    <li><a href="#"><i class="fa fa-twitter tamanho"></i></a></li>
                </div>
                <div class="col-md-4 marginsocial">
                    <li class="marginicon">Institucional</li>
                    <li><a href="#"><i class="fa fa-pinterest tamanho"></i></a></li>
                </div>
                <div class="col-sm-4 text-center col-md-12">
                    <p class="cpright">
                        <small>Copyright &copy; 2017. Todos os direitos reservados.
                            Criado por <a href="http://task.quest" target="_blank">Task Quest SA</a></small>
                    </p>
                </div>
            </ul>
        </div>

    </div>
</footer>


<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>-->
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src='js/spectrum.js'></script>
<script src="js/main.js"></script>
<script src="js/codespec.js"></script>


</body>
</html>