@model List<TaskQuest.Models.Task>

@{ 
    ViewBag.Title = "Pendências";
}

@section js 
{
    <script src="~/Content/js/link.js"></script>
}

<section class="pads-bot">

    <div class="flex-properties-r">
        <div class="title-a"><h2>PENDÊNCIAS</h2></div>
        <div class="title-b">
            <div class="flex-properties-r pads icon-black">
                <i class="fa fa-plus elipse" aria-hidden="true"></i>
                <h3><a href="/Quest/CriarQuest/Usuario">Criar Quest</a></h3>
            </div>
            <div class="flex-properties-r pads"></div>
        </div>
    </div>

    <div class="container flex-properties-r margintop">

        @for (int x = 0; x < Model.Count; x++)
        {
            @Html.Partial("_LinkPartial", Html.LinkViewModel("Tsk"+x, Model[x].Quest.Id.ToString(), "/Quest"))
            <div class="margin-bottom item">
                <a onclick="link('Tsk@x')"><div class="filete" style="background-color: @Model[x].Quest.Cor"></div></a>
                <div class="quest-body flex-properties-c">
                    <div class="limit-lines"><h4>@Model[x].Nome</h4></div>
                    <div class="limit-lines"><h4>@Model[x].Descricao</h4></div>
                    <div><h4>@Model[x].DataConclusao</h4></div>
                    <div class="select-container">
                        <select class="form-control">
                            @if (Model[x].Status == 0)
                            {
                                <option selected>A Fazer</option>
                                <option>Fazendo</option>
                                <option>Feito</option>
                            }
                            else if (Model[x].Status == 1)
                            {
                                <option>A Fazer</option>
                                <option selected>Fazendo</option>
                                <option>Feito</option>
                            }
                            else if (Model[x].Status == 2)
                            {
                                <option>A Fazer</option>
                                <option>Fazendo</option>
                                <option selected>Feito</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        }

    </div>

</section>