@model TaskQuest.ViewModel.UsuarioViewModel

@{
    ViewBag.Title = "Configuração de Usuario";
    Layout = "_Layout";
}

<section>
    <div class="container fluid">
        <div class="row info-p">

            @using (Html.BeginForm("Usuario", "Home", FormMethod.Post)) {
                <input type="submit" class="btn btn-primary editar" value="Editar">
                <div class="col-md-12"><h2 class="setting-title">Informações Pessoais</h2></div>
                <div class="col-md-6">@Html.TextBoxFor(m => m.Nome, new { @class = "form-control inputs centralize", @value=@Model.Nome })</div>
                <div class="col-md-6">@Html.TextBoxFor(m => m.Sobrenome, new { @class = "form-control inputs centralize", @value=@Model.Sobrenome })</div>
                <div class="col-md-6">@Html.TextBoxFor(m => m.DataNascimento, new { @class = "form-control inputs centralize", @value=@Model.DataNascimento })</div>
                <div class="col-md-6">@Html.TextBoxFor(m => m.Email, new { @class = "form-control inputs centralize", @value=@Model.Email })</div>
                <div class="col-md-6">@Html.TextBoxFor(m => m.Senha, new { @class = "form-control inputs centralize", @type="password", @value=@Model.Senha })</div>
                <div class="col-md-6">
                    <input type="text" name="showPaletteOnly" id="showPaletteOnly" style="display: none;">
                </div>
            }
        </div>   
    </div>
</section>

<hr class="quebra group-image">

<section>
    <div class="container fluid">
        <div class="row">
            <div class="col-md-12"><h2 class="setting-title">Telefones</h2></div>
            <div class="row info-t">
                @ for (int x = 0; x < Model.Telefones.Count; x++){
                    @Html.HiddenFor(m => Model.Telefones[x].Id) @Model[i].Name
                    <div class="col-md-6">@Html.TextBoxFor(m => Model.Telefones[x].Tipo, new { @class="form-control inputs centralize" })</div>
                    <div class="col-md-6">@Html.TextBoxFor(m => Model.Telefones[x].Numero, new { @class="form-control inputs centralize" })</div>
                    <hr class="quebra">
                }
                @Html.Partial("_AdicionarTelefonePartial")
            </div>
        </div>
    </div>
</section>

<hr class="quebra group-image">

<section>
    <div class="container fluid">
        <div class="row info-p">
            <div class="col-md-12"><h2 class="setting-title">Cartões</h2></div>
            <div class="info-c">
                @ for (int x = 0; x < Model.Cartoes.Count; x++){
                    @Html.HiddenFor(m => Model.Cartoes[i].Id) @Model[i].Name
                    <div class="col-md-6">@Html.TextBoxFor(m => Model.Cartoes[x].NomeTitular, new { @class="form-control inputs centralize" })</div>
                    <div class="col-md-6">@Html.TextBoxFor(m => Model.Cartoes[x].Bandeira, new { @class="form-control inputs centralize" })</div>
                    <div class="col-md-6">@Html.TextBoxFor(m => Model.Cartoes[x].Numero, new { @class="form-control inputs centralize" })</div>
                    <div class="col-md-6">@Html.TextBoxFor(m => Model.Cartoes[x].CodigoSeguranca, new { @class="form-control inputs centralize" })</div>
                    <div class="col-md-6">@Html.TextBoxFor(m => Model.Cartoes[x].DataVencimento, new { @class="form-control inputs centralize" })</div>
                    <hr class="quebra">
                }
                @Html.Partial("_AdicionarCartaoPartial")
            </div>
        </div>
    </div>
</section>

<hr class="quebra group-image">




<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/graphics.js"></script>
<script src='js/spectrum.js'></script>
<script src="js/codespec.js"></script>
<script>  

    $(document).ready(function() {
        $("input[type='text']").prop('disabled', true);
        $("input[type='password']").prop('disabled', true);
        $("input[type='submit']").value("Editar");
    });

    $("input[type='submit']").click(function() {
        $("input[type='text']").prop('disabled', false);
        $("input[type='password']").prop('disabled', false);
        $("input[type='submit']").value("Salvar");
    });

</script>
