@model Tuple<int, TaskQuest.Models.Telefone>

<form id="@Html.LinkId("formTelefone"+@Model.Item1)" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Html.LinkId(Model.Item2.Id.ToString())" name="Item2.Id" id="Item2.Id" />
    <input type="hidden" value="@Html.LinkId(Model.Item2.UsuarioId.ToString())" name="Item2.UsuarioId" id="Item2.UsuarioId" />
    <div class="flex-properties-r">
        <li class="li-hidden icon-black">
            <a onclick="submit('@Html.LinkId("formTelefone"+@Model.Item1)', '/Configuracao/EditarTelefone')" title="Salvar"><i class="fa fa-save" aria-hidden="true"></i></a>
        </li>
        <div>
            <input type="text" class="form-control" value="@Model.Item2.Tipo" name="Item2.Tipo" id="Item2.Tipo">
            <label for="Item2.Tipo"></label>
        </div>
        <div>
            <input type="text" class="form-control TelefoneNumero" value="@Model.Item2.Numero" name="Item2.Numero" id="Item2.Numero">
            <label for="Item2.Numero"></label>
        </div>
        <li class="li-hidden icon-black">
            <a onclick="submit('@Html.LinkId("formTelefone"+@Model.Item1)', '/Configuracao/ExcluirTelefone')" title="Excluir"><i class="fa fa-remove" aria-hidden="true"></i></a>
        </li>
        </li>
    </div>
</form>
