@model TaskQuest.ViewModels.RegisterViewModel


@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <p>Preencha os campos abaixo para realizar seu cadastro.</p>
        <div class="col-md-6 inp">
            @Html.TextBoxFor(m => m.Nome, new { @id = "nome", @maxlength = "30", @class = "form-control", @placeholder = "Nome", required="" })
        </div>
        <div class="col-md-6 inp">
            @Html.TextBoxFor(m => m.Sobrenome, new { @id = "sobrenome", @maxlength = "40", @class = "form-control", @placeholder = "Sobrenome", required="" })
        </div>
        <div class="col-md-6 inp">
            @Html.TextBoxFor(m => m.DataNascimento, new { @id = "datanasc", @maxlength = "30", @type = "date", @class = "form-control", required="" })
        </div>
        <div class="col-md-6 inp">
            @Html.TextBoxFor(m => m.Email, new { @id = "confirma", @maxlength = "30", @class = "form-control", @placeholder = "Email", required="" })
        </div>
        <div class="col-md-6 inp">
            @Html.TextBoxFor(m => m.Senha, new { @id = "senha", @maxlength = "30", @type = "password", @class = "form-control", @placeholder = "Senha", required="" })
        </div>
        <div class="col-md-6 inp">
            @Html.TextBoxFor(m => m.ConfirmarSenha, new { @id = "confirma", @maxlength = "30", @type = "password", @class = "form-control", @placeholder = "Confirme sua senha", required="" })
        </div>
        <div class="col-md-12 inp">
            <div>
                <h3>Feminino:</h3> @Html.RadioButtonFor(m => m.Sexo, 'F', new { @checked="" })
            </div>
            <div>
                <h3>Masculino:</h3> @Html.RadioButtonFor(m => m.Sexo, 'M')
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary btn-lg" value="Cadastrar">
        </div>
    </div>
}