@model List<TaskQuest.ViewModels.TelefoneViewModel>

<div class="centralize">
    @using (Html.BeginForm("EditarTelefone", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        for (int x = 0; x < Model.Count; x++)
        {
            <div class="row">
                @Html.HiddenFor(m => Model[x].Id)
                <div class="col-md-12 centralize"><input type="submit" value="Editar" class="btn btn-primary btn-lg btn-header darkblue-bg centralize" /></div>
                <div class="col-md-4">@Html.TextBoxFor(m => Model[x].Tipo, new { @class = "form-control inputs centralize", required = "" })</div>
                <div class="col-md-4">@Html.TextBoxFor(m => Model[x].Ddd, new { @class = "form-control inputs centralize", required = "" })</div>
                <div class="col-md-4">@Html.TextBoxFor(m => Model[x].Numero, new { @class = "form-control inputs centralize", required = "" })</div>
                <div class="col-md-12">
                    <a class="btn btn-primary btn-lg btn-header darkblue-bg centralize" href="/Home/ExcluirTelefone/@Model[x].Id">Excluir</a>
                </div>
            </div>
            <hr class="quebra group-image">
        }
    }
</div>